In [1]:
import geopandas as gpd
import pandas as pd
import subprocess

comercial_df = gpd.read_file('./data/LOTES/COMERCIAL/SHP/lotes.shp')
servicos_df = gpd.read_file('./data/LOTES/SERVIÇOS/SHP/lotes.shp')

In [2]:
def to_kml(df, output):
    command = "ogr2ogr -f KML {0}.kml {0}.json ".format(output)
    with open('{0}.json'.format(output), 'w') as f:
        f.write(df.to_crs(epsg=4326).to_json())
        
    subprocess.call(command,shell=True)
    
def export(df, output):
    kml_output = './OUTPUT/KML/' + output 
    csv_output = './OUTPUT/CSV/' + output + '.csv'
    shp_output = './OUTPUT/SHP/' + output
    
    to_kml(df, kml_output)
    df.to_file(shp_output)
    without_geometry = df.loc[:, df.columns != 'geometry']
    without_geometry.to_csv(csv_output)

In [3]:
def classify_comercio(row, column, dic):
    string = row[column]
    if string in dic['alimentacao']:
        return 1
    if string in dic['genAlimeticios']:
        return 2 
    if string in dic['artigosDoLar']:
        return 3 
    if string in dic['artigosDiversos']:
        return 4
    if string in dic['conveniencia']:
        return 5  
    if string in dic['vestuario']:
        return 6  
    if string in dic['construcao']:
        return 7
    if string in dic['automotivo']:
        return 8


def classify_servicos(row, column, dic):
    string = row[column]
    if string in dic['servicosAutomotivos']:
        return 8
    if string in dic['entretenimento']:
        return 9
    if string in dic['servicosDiversos']:
        return 10  
    if string in dic['servicosPessoais']:
        return 11
    if string in dic['servicosMedicos']:
        return 12
    
def classify_comercio_desc(row, column, dic):
    string = row[column]
    if string in dic['alimentacao']:
        return 'Alimentação'
    if string in dic['genAlimeticios']:
        return 'Gêneros Alimentícios'
    if string in dic['artigosDoLar']:
        return 'Artigos do Lar'
    if string in dic['artigosDiversos']:
        return 'Artigos Diversos'
    if string in dic['conveniencia']:
        return 'Conveniência'  
    if string in dic['vestuario']:
        return 'Vestuários'  
    if string in dic['construcao']:
        return 'Construção'
    if string in dic['automotivo']:
        return 'Automotivo'


def classify_servicos_desc(row, column, dic):
    string = row[column]
    if string in dic['servicosAutomotivos']:
        return 'Automotivo'
    if string in dic['entretenimento']:
        return 'Entretenimento'
    if string in dic['servicosDiversos']:
        return 'Serviços Diversos'  
    if string in dic['servicosPessoais']:
        return 'Serviços Pessoais'
    if string in dic['servicosMedicos']:
        return 'Serviços Médicos'

In [4]:
servicos_dict = {}
servicos_dict['servicosAutomotivos'] =  [ 'LOCACAO DE VEICULOS,EMBARCACOES OU AERONAVES',
'OFICINA MECANICAS OU LANTERNAGENS E PINTURA'
]

servicos_dict['servicosPessoais'] = [ 'HIGIENE E ESTETICA PESSOAL',
 'ESCOLAS DE ESPORTES OU LUTAS',
 'PREST.SERV-HIG.PES.E COND.FIS.',
 'ACADEMIA DE GINASTICA OU MUSCULACAO'
]

servicos_dict['entretenimento'] = [  'LOTERIAS,JOGOS DE APOSTAS OU BINGOS',
 'RECREACAO INFANTIL OU PARQUE DE DIVERSAO',
 'LOCACAO DE FILMES,DISCO,JOGOS OU CDS'

]

servicos_dict['servicosMedicos'] = [  'FISIOTERAPIA E RECUPERACAO',
 'PREST.SERV-SAUDE',
 'CONSULTORIO MEDICO',
 'CLINICA MEDICA',
 'CLINICA ODONTOLOGICA',
 'CLINICA DE PSICOLOGIA',
 'RADIOLOGIA',
 'FONOAUDIOLOGIA',
 'MEDICO',
]

servicos_dict['servicosDiversos'] = [  'AGENCIA DE TURISMO,VIAGENS OU VENDAS DE PASSAGENS',
'ESTUDIO FOTOGRAFICO',
 'CONSTRUCAO CIVIL E ATIVIDADES AFINS',
 'PREST.SERV-EDUCACAO',
 'ASSISTENCIA SOCIAL,RELIGIOSA OU BENEFICENTE',
 'ENSINO DE 1 GRAU,2 GRAU OU 3 GRAU',
 'SERVICOS DE TELECOMUNICACOES',
 'CORRETAGEM DE PLANOS DE SAUDE OU SEGUROS',
 'PREST.SERV-ARQ.CONST. CIVIL',
 'CORRETAGEM DE BENS MOVEIS',
 'INSTITUICOES FINANCEIRAS GERAL',
 'SERVICOS DE BUFFET',
 'PREST.SERV-FIN.SEC.E CAPITAL.',
 'LOCACAO DE MAQUINAS,APARELHOS OU EQUIPAMENTOS',
 'CURSOS DE IDIOMAS',
 'CORRETAGEM DE BENS IMOVEIS',
 'MATERNAL INFANTIL OU CRECHES',
 'AUTO-ESCOLA',
 'ENSINO TECNICO,INDUSTRIAL OU COMERCIAL',
 'COPIAS EM GERAL',
 'OFICINA DE FERREIRO - SERRALHERIA',
]

In [5]:
comercial_dict = {}
comercial_dict['genAlimeticios'] =  ['SUPERMERCADO,OU EMPORIO E MERCEARIAS',
'SUPERMERCADOS',
'PRODUTOS ALIMENTICIOS OU BEBIDAS',
'ALIMENTOS, BEBIDAS EM GERAL',
'FRIGORIFICOS, CARNES E AVES',
'SUPERMERCADO, OU EMPORIO E MERCEARIA SEM LIXO ORGANICO',
'ESTIVAS E CEREAIS']

comercial_dict['conveniencia'] = [ 'MEDICAMENTOS,COSMETICOS OU PERFUMES E CONGENERES',
'PAPELARIA,ARMARINHOS,BOUTIQUE OU PRESENTES E BOMBONIERE',
'MEDICAMENTOS,COSMETICOS OU PERFUMES',
'ARTIGOS DE TABACARIA',
'FLORICULTURA',
'CINE,FOTO OU SOM',
'PRODUTOS DE PAPELARIA',
'LIVROS JORNAIS OU REVISTAS',
'MAGAZINE',
'LOJAS DE DEPARTAMENTOS'
]

comercial_dict['vestuario'] = [ 'JOIAS,RELOGIOS,OTICA OU OBJETOS DE ARTE',
'TECIDOS,CONFECCOES,CALCADOS OU ESPORTES',
'CONFECCOES,CALCADOS BIJUTERIAS E CONGENERES',
'ARTIGOS DE COUROS E TANANTES'
]

comercial_dict['artigosDoLar'] = [ 'ELETRO ELETRONICOS OU INFORMATICA',
'MOVEIS EM GERAL',
'ARTIGOS DE ESPUMA E COLCHOES',
'ARTIGOS PARA DECORACAO,VIDROS E CONGENERES',
'PRODUTOS PLASTICOS E DESCARTAVEIS',
'ARTIGOS PLASTICOS E DESCARTAVEIS',
'ART. DE HIGIENE LIMPEZA EM GERAL',
'ANIMAIS E PRODUTOS VETERINARIOS'
]

comercial_dict['artigosDiversos'] = ['COMERCIO A VAREJO',
'ARTIGOS DE ARTESANATO',
'COMERCIAL -COMERCIO VAREJISTA',
'COMERCIO FECHADO',
'ARTIGOS MEDICOS,HOSPITALARES OU ODONTOLOGICO',
'MAQUINAS,  EQUIPAMENTOS E MATERIA PRIMA PARA PANIFICACAO',
'ARTIGOS FUNERARIOS',
'ARTIGOS AGROPECUARIOS',
'PRODUTOS QUIMICOS',
'MAQUINAS, APARELHOS E EQUIP. OU PECAS',
'ARTIGOS PARA CACA E PESCA E CONGEN  ERES',
'PRODUTOS ALIMENTICIOS PARA ANIMAIS',
'PRODUTOS MUSICAIS E INSTRUMENTOS',
'ARTIGOS RELIGIOSOS EM GERAL',
'EXPORTACAO E IMPORTACAO',
'PRODUTOS DE AGROPECUARIA',
'ARTIGOS PIROTECNICOS',
]

comercial_dict['construcao'] = ['MATERIAL DE CONSTRUCAO,MADEIRAS OU PEDRAS',
'EQUIPAMENTOS,APARELHOS,FERRAMENTAS OU PECAS',
'FERRAGENS,MATERIAIS ELETRICOS,HIDRAULICOS E CONGENERES',
'ADUBOS,TINTAS OU VERNIZES E CONGENERES',
'CASAS DE FERRAGENS'
]

comercial_dict['alimentacao'] = ['BAR, RESTAURANTE, LANCHONETE',
'LANCHONETE',
'SORVETERIA'
]

comercial_dict['automotivo'] = [ 'CONCESSIONARIAS DE VEICULOS E AUTO PECAS',
'COMBUSTIVEIS,LUBRIFICANTES OU GLP',
'VEICULOS E MAQUINAS PESADAS',
'PNEUS E ARTEFATOS DE BORRACHA',
'BICICLETAS, MOTOS E PECAS'
]

In [6]:
comercial_df['classificacao'] = comercial_df.apply(classify_comercio, axis=1, args=('Atividade', comercial_dict))
servicos_df['classificacao'] = servicos_df.apply(classify_servicos, axis=1, args=('Atividade', servicos_dict))
comercial_df['classificacao_desc'] = comercial_df.apply(classify_comercio_desc, axis=1, args=('Atividade', comercial_dict))
servicos_df['classificacao_desc'] = servicos_df.apply(classify_servicos_desc, axis=1, args=('Atividade', servicos_dict))

In [7]:
lotes_df = comercial_df.append(servicos_df, ignore_index=True)

In [8]:
recorte_maior = gpd.read_file('./data/BASES/limite_recorte/limite_recorte_maior.shp')
lotes_recorte =  gpd.overlay(lotes_df, recorte_maior, how='intersection')

In [9]:
bairros = gpd.read_file('./data/BASES/bairros/bairros.shp')
bairros_interesse = ['Torre', 'Tambauzinho', 'Expedicionários', 'Miramar', 'Pedro Gondim', 'Estados']
bairros_recorte = bairros.loc[bairros['NM_BAIRRO'].isin(bairros_interesse)]
bairros_recorte.crs

<Projected CRS: EPSG:3857>
Name: WGS 84 / Pseudo-Mercator
Axis Info [cartesian]:
- X[east]: Easting (metre)
- Y[north]: Northing (metre)
Area of Use:
- name: World - 85°S to 85°N
- bounds: (-180.0, -85.06, 180.0, 85.06)
Coordinate Operation:
- name: Popular Visualisation Pseudo-Mercator
- method: Popular Visualisation Pseudo Mercator
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [10]:
lotes_df = lotes_df.to_crs('epsg:3857')

In [13]:
lotes_with_bairros = gpd.sjoin(lotes_df, bairros_recorte, how="inner", op='intersects')

lotes_with_bairros['Area_Total'] = pd.to_numeric(lotes_with_bairros['Area_Total'])
lotes_with_bairros['Area_Terre'] = pd.to_numeric(lotes_with_bairros['Area_Terre'])
lotes_with_bairros['Area_Predi'] = pd.to_numeric(lotes_with_bairros['Area_Predi'])

grouped_lotes = lotes_with_bairros.groupby(['NM_BAIRRO', 'classificacao_desc']).agg({'classificacao_desc': 'count', 
                                                        'Area_Terre': 'sum',
                                                        'Area_Predi': 'sum',
                                                        'Area_Total': 'sum'
                                                       }).rename(columns={'classificacao_desc':'n_empreeendimentos'})


grouped_lotes = grouped_lotes.unstack().transpose()

grouped_lotes['total'] = grouped_lotes.sum(axis=1)
grouped_lotes.to_csv('./OUTPUT/CSV/lotes_por_bairro.csv',  decimal='.', sep=',', float_format='%.0f')

NM_BAIRRO                                  Estados  Expedicionários   Miramar  \
                   classificacao_desc
n_empreeendimentos Alimentação               22.00             6.00     28.00
                   Artigos Diversos          70.00            25.00     42.00
                   Artigos do Lar            19.00             6.00     13.00
                   Automotivo                13.00             2.00     14.00
                   Construção                 9.00             3.00      8.00
                   Conveniência              22.00             5.00     12.00
                   Entretenimento             1.00              NaN       NaN
                   Gêneros Alimentícios      13.00            10.00     21.00
                   Serviços Diversos         93.00            22.00     61.00
                   Serviços Médicos          30.00            10.00     27.00
                   Serviços Pessoais         12.00             5.00     14.00
                   Vestuários                26.00             3.00     11.00
Area_Terre         Alimentação            13111.90          2816.50  25188.50
                   Artigos Diversos      191896.76         15247.00  20936.10
                   Artigos do Lar          9354.56          3401.50   5293.42
                   Automotivo             15810.35          2595.00  11328.07
                   Construção              7943.30          1275.60   3023.50
                   Conveniência           16833.97          1382.50   5768.30
                   Entretenimento           635.00              NaN       NaN
                   Gêneros Alimentícios    8814.40          3571.18  10385.18
                   Serviços Diversos      77865.35         18195.68  42012.42
                   Serviços Médicos       24450.34          5814.95  13865.78
                   Serviços Pessoais       6022.80          3578.00   6721.12
                   Vestuários             14603.25          2365.50   5255.50
Area_Predi         Alimentação             5904.75          1121.84  11480.21
                   Artigos Diversos       40674.46          7753.32  10184.20
                   Artigos do Lar          4539.10          1660.23   2247.43
                   Automotivo              8357.99           298.21   4473.33
                   Construção              4122.01           674.88   1340.24
                   Conveniência            7894.91           704.50   4410.90
                   Entretenimento           233.00              NaN       NaN
                   Gêneros Alimentícios    5264.91           927.64   4173.23
                   Serviços Diversos      50957.28          5893.30  20060.71
                   Serviços Médicos       13520.42          3131.77   7076.34
                   Serviços Pessoais       2910.91          2242.75   2536.28
                   Vestuários              4703.23           625.63   2152.54
Area_Total         Alimentação             6873.97          1146.84  14269.63
                   Artigos Diversos       56791.83          8765.20  34910.52
                   Artigos do Lar          6716.60          2461.23   2660.65
                   Automotivo              9243.47           993.71   5643.33
                   Construção              4139.76           674.88   1990.08
                   Conveniência            9701.84           793.80   4982.01
                   Entretenimento           233.00              NaN       NaN
                   Gêneros Alimentícios    5893.24          3419.44   4388.82
                   Serviços Diversos      78954.74         23394.85  38563.78
                   Serviços Médicos       14384.97          4434.59   8570.61
                   Serviços Pessoais       2960.51          2678.75   2976.47
                   Vestuários              9354.19          1479.29   2257.54

NM_BAIRRO                                Pedro Gondim  Tambauzinho      Torre  \
                   classificacao_desc
n_empreeendimentos Alimentação                   3.00         9.00      37.00
                   Artigos Diversos             21.00        42.00     175.00
                   Artigos do Lar                5.00        14.00      51.00
                   Automotivo                    6.00         8.00      88.00
                   Construção                     NaN         9.00     137.00
                   Conveniência                  5.00         8.00      47.00
                   Entretenimento                 NaN         3.00       5.00
                   Gêneros Alimentícios          3.00         7.00      58.00
                   Serviços Diversos            36.00        60.00     137.00
                   Serviços Médicos              4.00        36.00      47.00
                   Serviços Pessoais             3.00         7.00      14.00
                   Vestuários                    4.00         4.00      25.00
Area_Terre         Alimentação                1294.76      9962.50   13374.17
                   Artigos Diversos          36868.84     22419.55   69451.10
                   Artigos do Lar             2681.80      7029.30   17726.21
                   Automotivo                31322.93      7812.34   43295.63
                   Construção                     NaN     10145.27   51759.34
                   Conveniência               3593.52     24167.61   25470.66
                   Entretenimento                 NaN      1752.00     950.82
                   Gêneros Alimentícios        885.00      1846.00   24529.31
                   Serviços Diversos         71927.20     75213.88  116239.11
                   Serviços Médicos           2129.00     17511.00   21803.87
                   Serviços Pessoais          1262.00      3989.68    4260.33
                   Vestuários                 1302.50      1619.75    7433.73
Area_Predi         Alimentação                 586.19      3940.42    5913.18
                   Artigos Diversos           4742.52     12476.21   28371.29
                   Artigos do Lar             1254.94      5697.06    7565.66
                   Automotivo                23417.07      3523.83   16114.70
                   Construção                     NaN      7234.04   29417.26
                   Conveniência                864.61      2280.70    9120.71
                   Entretenimento                 NaN       834.39     323.62
                   Gêneros Alimentícios        397.02      1000.76   11508.80
                   Serviços Diversos         31802.31     16064.60   46571.92
                   Serviços Médicos           1337.76      8997.23    9354.93
                   Serviços Pessoais           366.00      2089.58    1629.10
                   Vestuários                  570.00      1281.04    3099.99
Area_Total         Alimentação                 586.19      4025.42    6736.27
                   Artigos Diversos          22863.36     14094.37   46266.09
                   Artigos do Lar             1572.94      5737.06   11671.00
                   Automotivo                23429.07      3688.07   20587.99
                   Construção                     NaN     11664.65   34365.80
                   Conveniência               4000.09      2623.70   19278.00
                   Entretenimento                 NaN      1033.55     404.82
                   Gêneros Alimentícios        397.02      1000.76   13054.90
                   Serviços Diversos         32115.36     21268.28   52479.63
                   Serviços Médicos           1544.41     10672.85   12117.76
                   Serviços Pessoais           814.00      2401.63    2450.59
                   Vestuários                  570.00      1281.04    4282.55

NM_BAIRRO                                    total
                   classificacao_desc
n_empreeendimentos Alimentação              105.00
                   Artigos Diversos         375.00
                   Artigos do Lar           108.00
                   Automotivo               131.00
                   Construção               166.00
                   Conveniência              99.00
                   Entretenimento             9.00
                   Gêneros Alimentícios     112.00
                   Serviços Diversos        409.00
                   Serviços Médicos         154.00
                   Serviços Pessoais         55.00
                   Vestuários                73.00
Area_Terre         Alimentação            65748.33
                   Artigos Diversos      356819.35
                   Artigos do Lar         45486.79
                   Automotivo            112164.32
                   Construção             74147.01
                   Conveniência           77216.56
                   Entretenimento          3337.82
                   Gêneros Alimentícios   50031.07
                   Serviços Diversos     401453.64
                   Serviços Médicos       85574.94
                   Serviços Pessoais      25833.93
                   Vestuários             32580.23
Area_Predi         Alimentação            28946.59
                   Artigos Diversos      104202.00
                   Artigos do Lar         22964.42
                   Automotivo             56185.13
                   Construção             42788.43
                   Conveniência           25276.33
                   Entretenimento          1391.01
                   Gêneros Alimentícios   23272.36
                   Serviços Diversos     171350.12
                   Serviços Médicos       43418.45
                   Serviços Pessoais      11774.62
                   Vestuários             12432.43
Area_Total         Alimentação            33638.32
                   Artigos Diversos      183691.37
                   Artigos do Lar         30819.48
                   Automotivo             63585.64
                   Construção             52835.17
                   Conveniência           41379.44
                   Entretenimento          1671.37
                   Gêneros Alimentícios   28154.18
                   Serviços Diversos     246776.64
                   Serviços Médicos       51725.19
                   Serviços Pessoais      14281.95
                   Vestuários             19224.61

In [13]:
export(lotes_df, 'lotes_varejo')
export(lotes_recorte, 'lotes_varejo_recorte')

ValueError: Cannot write empty DataFrame to file.

In [ ]:
#EXPORT WITH DESCRIPTION AS CLASSIFICACAO, ONLY ROWS IN VAREJO

def export_classificacao(df, output):
    df['classificacao'] = df['classificacao_desc']
    df = df.drop('classificacao_desc', axis=1)
    df = df.dropna(axis=0, how='any', subset=['classificacao'])
    export(df, output)
    
export_classificacao(lotes_df, 'lotes_varejo')
export_classificacao(lotes_recorte, 'lotes_varejo_recorte')