In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import geopandas as gpd
from lib.funcs import *

In [2]:
## Get the names and open data
data_domicilio_path = ('./data/CENSO/Domicilio02_PB.csv') 

with open(data_domicilio_path, "r", encoding="latin-1") as myfile:
    for i in range(1):
        line = next(myfile).strip()
        names = line.split(';')


data = pd.read_csv(data_domicilio_path,                  
                sep=';', 
                header=None, 
                names=names,
                skiprows=1,
                encoding="latin-1",
                dtype={'Cod_setor': str})

In [3]:
## Open SHP
setores = gpd.read_file('./data/shp/jp_shp.shp')
setores = setores.to_crs(epsg=3857)

In [4]:
border = setores
border['new_column'] = 0
border = border.dissolve(by='new_column')
border = border[['geometry']]
border['geometry'] = border['geometry'].buffer(0.0001)

In [5]:
# Select only the data we are interested in
#v001 = Moradores em domicilios particular e domicilios coletivos
moradores = data[['Cod_setor', 'V001']]
moradores = moradores.rename(columns={'V001': 'MORADORES'})

setores = setores[['geometry', 'NM_BAIRRO', 'CD_GEOCODI']]

In [6]:
# Set the same inde
moradores.set_index('Cod_setor', inplace=True)
setores.set_index('CD_GEOCODI', inplace=True)

In [7]:
moradores.to_csv('./data/POPULACAO/populacao_parse.csv')

In [8]:
setores = setores.join(moradores)

In [9]:
bairros = setores.dissolve(by='NM_BAIRRO', aggfunc='sum')

In [10]:
bairros

,geometry,MORADORES
NM_BAIRRO,,
Aeroclube,"POLYGON ((-3878845.787 -792159.924, -3878970.3...",9649.0
Altiplano Cabo Branco,"POLYGON ((-3876916.727 -797181.774, -3877032.3...",5233.0
Alto do Céu,"POLYGON ((-3880526.984 -791742.159, -3880526.7...",16557.0
Alto do Mateus,"POLYGON ((-3885968.582 -797638.000, -3886002.0...",16281.0
Anatólia,"POLYGON ((-3878566.488 -797931.549, -3878554.7...",1162.0
...,...,...
Trincheiras,"POLYGON ((-3883573.691 -795946.209, -3883573.6...",6995.0
Valentina,"POLYGON ((-3878549.633 -804234.168, -3878556.9...",22452.0
Varadouro,"POLYGON ((-3883870.618 -794980.219, -3883870.6...",3720.0
Varjão,"POLYGON ((-3881423.598 -798731.445, -3881422.6...",16973.0
Água Fria,"POLYGON ((-3880659.625 -800172.355, -3880672.2...",6269.0

In [11]:
bairros_interesse = ['Torre', 'Tambauzinho', 'Expedicionários', 'Miramar', 'Pedro Gondim', 'Estados']
setores_recorte = setores.loc[setores['NM_BAIRRO'].isin(bairros_interesse)]

In [12]:
setores_recorte['area'] = setores_recorte.apply(get_area, axis=1)
setores_recorte['densidade'] = setores_recorte.apply(get_density, axis=1)
bairros['area'] = bairros.apply(get_area, axis=1)
bairros['densidade'] = bairros.apply(get_density, axis=1)

<ipython-input-12-6e7c8dbd7c66>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  setores_recorte['area'] = setores_recorte.apply(get_area, axis=1)
<ipython-input-12-6e7c8dbd7c66>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  setores_recorte['densidade'] = setores_recorte.apply(get_density, axis=1)

In [13]:
setores_recorte = setores_recorte.to_crs(epsg=3857)
setores_recorte.to_file('./data/POPULACAO/setores_recorte.shp')

bairros = bairros.to_crs(epsg=3857)
bairros.to_file('./data/POPULACAO/bairros.shp')

In [14]:
export(setores_recorte, 'populacao_setores_recorte', 3857)
export(bairros, 'populacao_bairros', 3857)